<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sana-serif;
}
body{
    color: black;
    background-image: url(./img/img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.headLine{
    padding-top: 5vh;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.title{
    padding-top:5vh;
    padding-bottom: 2vh;
}
.img-container{
    padding: 30px;
}
.img{
    width: 30vh;
    background-color:transparent;
}
.form{
    padding-bottom: 10vh;
    
}
.form-group label{
    color: black;
    
}
.form-group input{
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-group select{
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-group textarea{
    border: solid;
    background-color:transparent;
    border-color: black;
    border-width: 1.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.container-fluid{
    padding-top: 0;
    color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-select option{
    color: rgb(0, 0, 0);
}
form div{
    padding-bottom: 5px;
}
.custom-container{
      margin-left: auto;
      margin-right: auto;
}

@media (max-width: 768px) {
    .custom-container {
      max-width: 90%; /* Set the desired width for small screens */
      
    }
    .form input{
        width: 45vh;
        
        
    }
    .img{
        width: 30vh;
    }
  }